.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  width: 100%;
  justify-items: center;
  /* align-items: center; */
  position: relative;
  margin: 0px auto;
}

svg {
  display: inherit !important;
}

@media screen and (max-width: 768px) {
  .button-group {
    grid-template-columns: 1fr;
    height: 370px;
    overflow-y: scroll;
  }
}
  


#onlineUsers {
  top: 230px;
  height: auto;
  width: 95%;
  margin: 20px auto;
}

a{
  text-decoration: none;
  margin: 0px auto;
}

.buttons {
  text-align: center;
  border-radius: 30px;
}

.blob-btn {
  z-index: 1;
  position: relative;
  padding: 20px 46px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #151515;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: #0c0c0c;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #0a0a0a;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(83.11deg, #00ff28 0%, #4fd1c5 100%);
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: linear-gradient(83.11deg, #4fd1c5 0%, #4fd1c5 100%);
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(1.4);
  }
}

svg {
  display: none;
}



.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
        -webkit-tap-highlight-color: transparent;
}

.noselect {
    width: 150px;
    height: 50px;
    justify-self: end;
    align-self: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    background: linear-gradient(83.11deg, #00ff28 0%, #4fd1c5 100%);
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: linear-gradient(83.11deg, #00ff28 0%, #4fd1c5 100%);
}

.noselect, .noselect span {
    transition: 200ms;
}

.noselect .text {
    transform: translateX(35px);
    color: white;
    text-align: center;
    font-weight: bold;
}


.noselect .icon {
    position: absolute;
    border-left: 1px solid #00ff28;
    transform: translateX(110px);
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noselect svg {
    width: 15px;
    fill: #eee;
}

.noselect:hover {
    background: linear-gradient(83.11deg, #00ff28 0%, #4fd1c5 100%);
}

.noselect:hover .text {
    color: transparent;
}

.noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
}

.noselect:focus {
    outline: none;
}


