* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: linear-gradient(83.11deg, #7AFF69 20%, #BBFFB3 50%, #7AFFFF 100%);
}


.verificado-icon{
    height: 30px;
    width: 30px;
}


#container {
    height: 670px;
    width: 90%;
    margin-top: 15px;
    position: relative;
    padding: 30px;
    border-radius: 30px;
    background: linear-gradient(30deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 999;
    backdrop-filter: blur(20px);
}

/* header */
#header {
    height: 130px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.5));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#header a {
    height: 130px;
    width: 90px;
    /* position: absolute; */
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    text-decoration: none;
    text-align: left;
    color: #33e669;
    font-size: 20px;
}

/* profile */
#header #profileImage {
    height: 60px;
    width: 60px;
    border: 2px solid #33e64b;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 60px;
}

#header #profileImage img {
    height: 100%;
    width: 100%;
    
}

/* details */
#header #userDetail {
    /* position: absolute; */
    display: grid;
    grid-template-columns: 1fr;
    /* position: relative; */
    /* place-items: center; */
    width: 100%;
    margin-left: 120px;
    /* padding-left: 160px; */
    left: 160px;
}

.full-name {
    display: grid;
    gap: 5px;
    width: 300px;
    grid-template-columns: auto 1fr;
    align-items: center;
}


/* name */
#header #userDetail #name {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 5px 0;
    color: #3ce633;
}

#mainSection {
    height: 450px;
    width: 100%;
    position: absolute;
    top: 130px;
    left: 0;
    overflow-y: auto;
    padding: 30px;
}
#mainSection #errors{
    font-size: 19px;
    padding: 10px 35px;
}

#mainSection .request {
    min-height: 80px;
    max-width: 75%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
}

#deleteButton {
    
    display: grid;
    align-items: center;
}

.basura-icon {
    height: 25px;
    width: 25px;
    margin-right: 15px;
}

span{
    margin-right: 12px;
    align-self: center;
}

#mainSection .request .name,
#mainSection .response .name {
    font-size: 20px;
    color: #33e684;
}

#mainSection .request .name {
    color: #5d006d;
}

#mainSection .request .messages {
    font-size: 17px;
}

#mainSection .responseCard {
    min-height: 80px;
    width: 100%;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

#mainSection .responseCard .response {
    min-width: 80px;
    max-width: 75%;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    border-radius: 10px;
}

/* messages input field */
#messagingTypingSection {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.emoji-picker-icon {
    position: relative !important;
    margin-left: 10px;
    top: 0 !important;
    right: 0 !important;
}

.emoji-wysiwyg-editor {
    width: 83;
    padding: 6px;
    min-height: 50px !important;
    max-height: 284px;
    margin-left: 38px;
    overflow: auto;
    width: 78%;
    line-height: 17px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border: none;
    outline: none;
    box-shadow: 1px 1px 6px #00000013, -1px -1px 6px #e6336f13;
    border-radius: 7px !important;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    position: absolute;
    left: 70px;
    word-wrap: break-word;
}
.disabledInput {
    display: none;
}


#messagingTypingSection #typingField::placeholder {
    color: #fff;
    text-shadow: 1px 1px 1px #000;
}

#messagingTypingSection #sendMessage {
    height: 50px;
    width: 90px;
    border: none;
    outline: none;
    color: #fff;
    background: linear-gradient(83.11deg, #00ff28 0%, #4fd1c5 100%);
    margin: 0px 45px;
    padding: 0px 20px;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    right: 25px;
    cursor: pointer;
}

/* customizing scroll bar */
#mainSection::-webkit-scrollbar {
    background: transparent;
}

#mainSection::-webkit-scrollbar-track {
    width: 40px;
}

#mainSection::-webkit-scrollbar-thumb {
    height: 40px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
#messagingTypingSection .setId
{
    display: none;
}

@media only screen and (max-width: 800px) {
    #messagingTypingSection .emoji-wysiwyg-editor{
        width: 60%;
        left: 65px;
    }
}


@media only screen and (max-width: 400px) {
    #messagingTypingSection .emoji-wysiwyg-editor{
        width: 50%;
        left: 35px;
    }


    .full-name {
        width: 150px;
    }

   
    /* details */
    #header #userDetail {
        width: 150px;
    }

}

.buttons {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	height: 50px;
	width: 20%;
	margin: 0px auto;
}

#header .buttons a {
	width: auto;
	height: auto;
	background: transparent;
	border: none;
	cursor: pointer
}

#header .buttons a img {
	height: 25px;
	width: 25px;
}

.imagen {
    margin-top: 20px;
    height: 250px;
    width: 250px;
}


/* Estilos para el botÃƒÆ’Ã‚Â³n personalizado */
#custom-button {
    background-color: transparent; /* Cambia el color de fondo segÃƒÆ’Ã‚Âºn tus preferencias */
    color: rgb(14, 14, 14);
    border: none;
    font-size: 20px;
    margin-left: 20px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  /* Estilos para el icono dentro del botÃƒÆ’Ã‚Â³n */
  #custom-button i {
    margin-right: 5px; /* Espacio entre el icono y el texto, puedes ajustarlo segÃƒÆ’Ã‚Âºn tus preferencias */
  }
